{:simlayers {:a-mode         {:key :a}
             :e-mode         {:key :e}
             :i-mode         {:key :i}
             :p-mode         {:key :p}
             :q-mode         {:key :q}
             :z-mode         {:key :z}
             :eisuu-mode     {:key :japanese_eisuu}
             :kana-mode      {:key :japanese_kana}
             :semicolon-mode {:key :semicolon}}
 :main      [{
              :des   "colonkey (shift)"
              :rules [:semicolon-mode
                      [:1 :!T1]
                      [:2 :!T2]
                      [:3 :!T3]
                      [:4 :!T4]
                      [:5 :!T5]
                      [:q :!Sq]
                      [:w :!Sw]
                      [:e :!Se]
                      [:r :!Sr]
                      [:t :!St]
                      [:y :!Sy]
                      [:u :!Su]
                      [:i :!Si]
                      [:o :!So]
                      [:p :!Sp]
                      [:a :!Sa]
                      [:s :!Ss]
                      [:d :!Sd]
                      [:f :!Sf]
                      [:g :!Sg]
                      [:h :!Sh]
                      [:j :!Sj]
                      [:k :!Sk]
                      [:l :!Sl]
                      [:grave_accent_and_tilde [:!Sgrave_accent_and_tilde]] ; -> ~
                      [:z :!Sz]
                      [:x :!Sx]
                      [:c :!Sc]
                      [:v :!Sv]
                      [:b :!Sb]
                      [:n :!Sn]
                      [:m :!Sm]]}
             {
              :des   "a mode(ctrl)"
              :rules [:a-mode
                      [:2 :!T2]
                      [:3 :!T3]
                      [:4 :!T4]
                      [:5 :!T5]
                      [:6 :!T6]
                      [:7 :!T7]
                      [:8 :!T8]
                      [:9 :!T9]
                      [:0 :!T0]
                      [:q :!Tq]
                      [:w :!Tw]
                      [:e :!Te]
                      [:r :!Tr]
                      [:t :!Tt]
                      [:i :!Ti]
                      [:o :!To]
                      [:y :!Ty]
                      [:u :!Tu]
                      [:p :!Tp]
                      [:open_bracket :!Topen_bracket]
                      [:close_bracket :!Tclose_bracket]
                      [:s :!Ts]
                      [:d :!Td]
                      [:f :!Tf]
                      [:g :!Tg]
                      [:h :!Th]
                      [:j :!Tj]
                      [:k :!Tk]
                      [:l :!Tl]
                      [:semicolon :!Tsemicolon]
                      [:quote :!Tquote]
                      [:z :!Tz]
                      [:x :!Tx]
                      [:c :!Tc]
                      [:v :!Tv]
                      [:b :!Tb]
                      [:n :!Tn]
                      [:m :!Tm]
                      [:comma :!Tcomma]
                      [:period :!Tperiod]
                      [:slash :!Tslash]
                      [:spacebar :!CT9]                     ;; Selection -> Google
                      ]}
             {:des   "ekey (cmd)"
              :rules [:e-mode
                      [:q :!Cq]
                      [:w :!Cw]
                      [:r :!Cr]
                      [:t :!Ct]
                      [:u :!Cu]
                      [:i :!Ci]
                      [:p :!Cp]
                      [:open_bracket :!Copen_bracket]
                      [:close_bracket :!Cclose_bracket]
                      [:semicolon :!Csemicolon]
                      [:quote :!Cquote]
                      [:comma :!Ccomma]
                      [:period :!Cperiod]
                      [:slash :!Cslash]
                      [:a :!Ca]
                      [:b :!Cb]
                      [:c :!Cc]
                      [:d :!Cd]
                      [:f :!Cf]
                      [:g :!Cg]
                      [:h :!Ch]
                      [:j :!Cj]
                      [:k :!Ck]
                      [:l :!Cl]
                      [:m :!Cm]
                      [:n :!Cn]
                      [:o :!Co]
                      [:s :!Cs]
                      [:v :!Cv]
                      [:x :!Cx]
                      [:y :!Cy]
                      [:z :!Cz]
                      [:1 :!C1]
                      [:2 :!C2]
                      [:3 :!C3]
                      [:4 :!C4]
                      [:5 :!C5]
                      [:6 :!C6]
                      [:7 :!C7]
                      [:8 :!C8]
                      [:9 :!C9]
                      [:0 :!C0]
                      [:spacebar :!CSO7]]}                  ; Selection -> Google Lucky
             {:des   "pkey (control + option + shift). for amethyst"
              :rules [:p-mode
                      [:left_arrow :!TOSleft_arrow]
                      [:right_arrow :!TOSright_arrow]
                      [:e :!TOSe]
                      [:h :!TOSh]
                      [:j :!TOSj]
                      [:k :!TOSk]
                      [:l :!TOSl]
                      [:r :!TOSr]
                      [:t :!TOSt]
                      [:x :!TOSx]
                      [:w :!TOSw]
                      [:z :!TOSz]]}
             {:des   "qkey (cmd + shift)"
              :rules [:q-mode
                      [:3 :!CS3]
                      [:4 :!CS4]
                      [:5 :!CS5]
                      [:6 :!CS6]
                      [:7 :!CS7]
                      [:8 :!CS8]
                      [:9 :!CS9]
                      [:0 :!CS0]
                      [:w :!CSw]
                      [:e :!CSe]
                      [:r :!CSr]
                      [:t :!CSt]
                      [:y :!CSy]
                      [:u :!CSu]
                      [:i :!CSi]
                      [:o :!CSo]
                      [:p :!CSp]
                      [:open_bracket :!CSopen_bracket]
                      [:close_bracket :!CSclose_bracket]
                      [:a :!CSa]
                      [:s :!CSs]
                      [:d :!CSd]
                      [:f :!CSf]
                      [:g :!CSg]
                      [:h :!CSh]
                      [:j :!CSj]
                      [:k :!CSk]
                      [:l :!CSl]
                      [:semicolon :!CSsemicolon]
                      [:quote :!CSquote]
                      [:z :!CSz]
                      [:x :!CSx]
                      [:c :!CSc]
                      [:v :!CSv]
                      [:b :!CSb]
                      [:n :!CSn]
                      [:m :!CSm]
                      [:comma :!CScomma]
                      [:period :!CSperiod]
                      [:non_us_pound :!CSnon_us_pound]
                      [:slash :!CSslash]
                      [:spacebar :!CSOe]]}                  ; Selection -> YouTube
             {:des   "ikey (symbols)"
              :rules [:i-mode
                      [:1 :!S1]                             ; !
                      [:2 :!S2]                             ; "
                      [:3 :!Sequal_sign]                    ; ~
                      [:4 :!S8]                             ; (
                      [:5 :!S5]                             ; %
                      [:q :!Sopen_bracket]                  ; `
                      [:w :!S9]                             ; )
                      [:e :!S3]                             ; #
                      [:r :!Squote]                         ; *
                      [:t :quote]                           ; :
                      [:o :open_bracket]                    ; @
                      [:p :close_bracket]                   ; [
                      [:open_bracket :!Sclose_bracket]      ; }
                      ; [:caps_lock [:km "Match symbols"]]
                      [:a :open_bracket]                    ; @
                      [:s :!Shyphen]                        ; =
                      [:d :!Ointernational3]                ; \
                      [:f :hyphen]                          ; -
                      [:g :!S4]                             ; $
                      [:j :equal_sign]                      ; ^
                      [:l [:hyphen :!Speriod :spacebar]]    ; ->
                      [:semicolon :semicolon]               ; ;
                      [:grave_accent_and_tilde :!Sgrave_accent_and_tilde] ;
                      [:z :!Sslash]                         ; ?
                      [:x :!Sbackslash]                     ; }
                      [:c :!S7]                             ; '
                      [:v :!Scomma]                         ; <
                      [:b [:slash :slash :spacebar]]]}      ; //
             {:des   "xkey (essential)"
              :rules [:x-mode
                      [:w [:!Oleft_arrow :!OSright_arrow]]  ; Highlight word
                      [:e :tab]
                      [:r :!Stab]
                      [:t :!Sreturn_or_enter]
                      [:u :!COp]                            ; Selection -> HasteBin link
                      [:i :!CTperiod]                       ; Contexts search active windows
                      [:o :!Cx]                             ; Cut
                      ;[:open_bracket :!Oleft_arrow]
                      ;[:open_bracket [:km "Lowercase selected text"]]
                      ;[:close_bracket [:km "Uppercase selected text"]]
                      [:a :!Cc]                             ; Copy
                      [:d :delete_or_backspace]
                      [:f :return_or_enter]
                      [:g :!Ctab]
                      [:semicolon :!CTO0]                   ; Search Alfred Snippets
                      [:quote [:!Cleft_arrow :!CSright_arrow]] ; Highlight current line
                      [:c :!Cdelete_or_backspace]
                      [:v :left_shift]
                      [:##b :!Cleft_arrow]
                      [:n :!Cv]                             ; Paste
                      [:##m :!Cright_arrow]
                      [:period :!COS0]]}                    ; Selection -> Alfred Snippets
             {:des   "kana key (essential)"
              :rules [:kana-mode
                      [:q :!TStab]  
                      [:w :!Ttab]
                      [:e :tab]
                      [:r :!Stab]
                      [:t [:!Oleft_arrow :!OSright_arrow]]  ; Highlight word
                      [:u :!COp]                            ; Selection -> HasteBin link
                      [:i :!CTperiod]                       ; Contexts search active windows
                      [:x :!Cx]                             ; Cut
                      ;[:open_bracket :!Oleft_arrow]
                      ;[:open_bracket [:km "Lowercase selected text"]]
                      ;[:close_bracket [:km "Uppercase selected text"]]
                      [:c :!Cc]                             ; Copy
                      [:d :delete_or_backspace]
                      [:f :return_or_enter]
                      [:g :!Ctab]
                      [:semicolon :!CTO0]                   ; Search Alfred Snippets
                      [:z [:!Cleft_arrow :!CSright_arrow]] ; Highlight current line
                      ;[:c :!Cdelete_or_backspace]
                      ;[:v :left_shift]
                      [:##b :!Cleft_arrow]
                      [:v :!Cv]                             ; Paste
                      [:##m :!Cright_arrow]
                      [:period :!COS0]]}                    ; Selection -> Alfred Snippets
             {:des   "zkey (option + shift). for amethyst"
              :rules [:z-mode
                      [:spacebar :!OSspacebar]
                      [:d :!OSd]
                      [:e :!OSe]
                      [:f :!OSf]
                      [:h :!OSh]
                      [:i :!OSi]
                      [:j :!OSj]
                      [:k :!OSk]
                      [:l :!OSl]
                      [:m :!OSm]
                      [:n :!OSn]
                      [:p :!OSp]
                      [:r :!OSr]
                      [:t :!OSt]
                      [:w :!OSw]]}
             {:des   "eisuu mode"
              :rules [:eisuu-mode
                      ;; 上下左右
                      [:h :left_arrow]
                      [:j :down_arrow]
                      [:k :up_arrow]
                      [:l :right_arrow]
                      ;; enter
                      [:spacebar :return_or_enter]
                      ;; option上下左右
                      [:n :!Oleft_arrow]
                      [:m :!Odown_arrow]
                      [:comma :!Oup_arrow]
                      [:period :!Oright_arrow]
                      ;; backspace delete
                      [:y :delete_or_backspace]
                      [:o :delete_forward]
                      ;; escape
                      [:japanese_kana :escape]]}
             {:des   "semicolon mode"
              :rules [:semicolon-mode
                      [:q :!Sq]
                      [:w :!Sw]
                      [:e :!Se]
                      [:r :!Sr]
                      [:t :!St]
                      [:y :!Sy]
                      [:u :!Su]
                      [:i :!Si]
                      [:o :!So]
                      [:p :!Sp]
                      [:a :!Sa]
                      [:s :!Ss]
                      [:d :!Sd]
                      [:f :!Sf]
                      [:g :!Sg]
                      [:h :!Sh]
                      [:j :!Sj]
                      [:k :!Sk]
                      [:l :!Sl]
                      [:grave_accent_and_tilde [:!Sgrave_accent_and_tilde]] ; -> ~
                      [:z :!Sz]
                      [:x :!Sx]
                      [:c :!Sc]
                      [:v :!Sv]
                      [:b :!Sb]
                      [:n :!Sn]
                      [:m :!Sm]]}
             {:des   "capslock"
              :rules [[:##caps_lock :left_control nil {:alone :caps_lock}]]}
             {:des   "left_control"
              :rules [[:##left_control :left_command nil {:alone :left_command}]]}]}
