{
 :simlayers {
             :eisuu-mode {:key :japanese_eisuu}
             :kana-mode {:key :japanese_kana}
             :semicolon-mode {:key :semicolon}}
            
 :main [{
         :des "eisuu mode"
         :rules [:eisuu-mode
                 ;; 上下左右
                 [:h :left_arrow]
                 [:j :down_arrow]
                 [:k :up_arrow]
                 [:l :right_arrow]
                 ;; enter
                 [:spacebar :return_or_enter]
                 ;; option上下左右
                 [:n :!Oleft_arrow]
                 [:m :!Odown_arrow]
                 [:comma :!Oup_arrow]
                 [:period :!Oright_arrow]
                 ;; backspace delete
                 [:y :delete_or_backspace]
                 [:o :delete_forward]]}
         
        {
         :des "semicolon mode"
         :rules [:semicolon-mode
                 [:a :open_bracket] ;; @ 
                 [:z :!S3]] ;; # 
         }
        {
         :des "capslock"
         :rules [[:##caps_lock :left_control nil {:alone :caps_lock}]]
        }]}
      
 