{:simlayers {:eisuu-mode {:key :japanese_eisuu}}
 :main [{:des "eisuu mode"
         :rules [[:h :left_arrow :eisuu-mode]
                 [:j :down_arrow :eisuu-mode]
                 [:k :up_arrow :eisuu-mode]
                 [:l :right_arrow :eisuu-mode]]}
      ]
 }